.CartItem {
  display: grid;
  grid-template-areas: 'image name price button' 'image count count button';
  grid-template-columns: 6rem 1fr auto;
  grid-column-gap: 1rem;
  margin-bottom: 1.5rem;
  background: #fff;
  padding: 1rem;
  border-radius: 0.3rem;
}

.CartItem img {
  grid-area: image;
  max-width: 100%;
}

.CartItem p.name {
  grid-area: name;
  margin: 0;
  font-weight: bold;
  font-size: 1.4rem;
  padding-top: 1rem;
}

.CartItem span.price {
  grid-area: price;
  padding-top: 1rem;
}

.CartItem span.count {
  grid-area: count;
  font-size: 1.4rem;
}

.CartItem button {
  grid-area: button;
  background: #f60000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}