.NotFoundPage {
  min-height: 40rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.NotFoundPage h1 {
  font-size: 4.8rem;
  font-weight: 900;
  margin: 0;
}

.NotFoundPage p {
  margin: 0;
  font-size: 2rem;
}

.NotFoundPage a {
  background: #444;
  color: #fff;
  margin-top: 3rem;
  border: solid 1px #222;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.4rem;
  padding: .8rem 1.5rem;
}